{% extends "base.html" %}

{% block title %}メイン（テスト）{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 4px;
}
</style>
{% endblock %}

{% block content %}
	<head>
   		<script type="text/javascript" src="{{ MEDIA_URL }}/js/color.js"></script>
    </head>

  	<div class="page-header">
	    <table>
	    	<tr>
	    		<td width="400" rowspan="2">
	    			<h3>結果！</h3>
	    		</td>    	    		
	    		<td>
	    			<h5>メニュー</h5>
	    		</td>
	    	<tr>
    			<td height="45" width="120" align="center" >
    				<a href="{% url 'cms:main_pic' %}" class="btn btn-default btn-sm"><h5>メイン画面</h5></a>
    			</td>
    		</tr>
    	</table>
	</div>
	
    {% if items %}
    	{% for item in items %}
    		<h3>{{item.name}}</h3>
    	 		
    		<p><img src="{{ MEDIA_URL }}/images/{{item.pic_name}}" width="240" height="240" class="coverImage" id="pic"/></p>
    		  
    		<br /><br />
    	
    		<h4>{{item.comment}}</h4>
    	{% endfor %}
    {% else %}
    	<h4>コインがないよ！</h4>
    {% endif %}
    
    <a href="{% url 'cms:main_pic' %}" class="btn btn-default btn-sm">戻る</a>

{% endblock content %}