{% extends "base.html" %}

{% block title %}ハイ&ロー{% endblock title %}

{% block extrahead %}
<style>
table 
  margin-top: 4px;
}
</style>
{% endblock %}

{% block content %}
	<head>
   		<script type="text/javascript" src="{{ MEDIA_URL }}/js/highAndLow.js"></script>
    </head>
	
  	<div class="page-header">
	    <table>
	    	<tr>
	    		<td width="400" rowspan="2">
	    			<h3>ハイ&ロー！</h3>
	    		</td>    	    		
	    		<td>
	    			<h5>メニュー</h5>
	    		</td>
	    	<tr>
    			<td height="45" width="120" align="center" >
    				<a href="{% url 'cms:main_pic' %}" class="btn btn-default btn-sm"><h5>メイン画面</h5></a>
    			</td>
    		</tr>
    	</table>
	</div>
	
	<h4>現在のカードより大きいか小さいか当ててね！<br/>
		３回連続正解で１コイン、５回連続で２コイン７回連続で４コインもらえます。<br />
		ただし、途中で負けたり、やめたりしたらコインはもらえません。</h4>
	<br/>
	<table width="580">
		<tr>
			<th>　　現在のカード</th>
			<th>　</th>
			<th>　　伏せカード</th>
		</tr>
		<tr>
			<td align="center">
				<img src="{{ MEDIA_URL }}/images/trump/z02.png"/width="190" height="280" id="card1">
			</td>
			<td align="center" width="80">
				<div id="title_label"><h2>HIGH</h2><br/><h3>AND</h3><br/><h2>LOW</h2></div>
				<h3 id="issue"> </h3>
			</td>
			<td align="center">
				<img src="{{ MEDIA_URL }}/images/trump/z02.png"/width="190" height="280" id="card2">
			</td>
		</tr>
		<tr height="100">
			<td align="center" colspan="3" height="130" >
				<input type="image" id="startB" src="{{ MEDIA_URL }}/images/start.png" width="130" height="100"/>
				<!--high・lowボタン-->
				<input type="image" id="highB" src="{{ MEDIA_URL }}/images/highB.png" width="195" height="100"/>
				<input type="image" id="lowB" src="{{ MEDIA_URL }}/images/lowB.png" width="195" height="100"/>
				<!--次へボタン・リトライボタン-->
				<input type="image" id="nextB" src="{{ MEDIA_URL }}/images/nextB.png" width="195" height="100"/>
				<input type="image" id="retryB" src="{{ MEDIA_URL }}/images/retryB.png" width="195" height="100"/>
				<!--csrf_token(javascript用)-->
				{% csrf_token %}
				<!--コインゲットボタン-->
				<input type="image" id="getB" src="{{ MEDIA_URL }}/images/get.png" width="195" height="100"/>
			</td>
		</tr>
	</table>
	
{% endblock content %}