{% extends "base.html" %}

{% block title %}メイン（テスト）{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 4px;
}
</style>
{% endblock %}

{% block content %} 
	<head>
		<script type="text/javascript">    		
			var $coinNum = {{coinNum}};
    		$(function() {
        		$("#gacha").click(function(){
        			if($coinNum>0){
            		 	$(this).replaceWith("<img src={{ MEDIA_URL }}/images/kapuseru.gif?d="+(+new Date)+"width='548' height='400' />");
            			
            			setTimeout(function(){
							location.href="{% url 'cms:drop_item'%}";
						},1800);
					}else{
						$("#coinImg").replaceWith("<h4>　　　　コインがないよ！</h4>");
					}
        		});
    		});
    	</script>
	</head>
	
	<div class="page-header">
	    <table>
	    	<tr>
	    		<td width="400" rowspan="2">
	    			<h3>ガチャるよ！</h3>
	    		</td>
	    		<td>    	    		
	    			<h5>メニュー</h5>
	    		</td>
	    		<td>
	    			<h5>ゲーム(コインをためる)</h5>
	    		</td>
	    	</tr>
	    	<tr>
    			<td height="45" width="120" align="center" >
    				<a href="{% url 'cms:zukan' %}" class="btn btn-default btn-sm" ><h5>　図鑑　</h5></a>
    			</td>
    			<td>
    				<a href="{% url 'cms:high_and_low' %}" class="btn btn-default btn-sm" ><h5>ハイ&ロー</h5></a>
    			</td>
    		</tr>
    	</table>
	</div>
    
    <table>
    	<tr>
    		<th>　コイン枚数（最大5枚）</th>
    	</tr>
    	<tr>
    		<td height="50">
    			<h4 id="coinImg"> </h4>
    			{% for i in coinlist %}
    				<img src="{{ MEDIA_URL }}/images/coin.png"/width="58" height="50">
    			{% endfor %}
    		</td>
    	</tr>
   	</table>
   	
   	<br/>
   	
    <input type="image" id="gacha" src="{{ MEDIA_URL }}/images/gachagacha.png" width="280" height="360"/>
    
{% endblock content %}