{% extends "base.html" %}

{% block title %}図鑑{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 4px;
}
</style>
{% endblock %}

{% block content %}
	<head>
   		<script type="text/javascript" src="{{ MEDIA_URL }}/js/deleteDialog.js"></script>
    </head>
	<div class="page-header">
	    <table>
	    	<tr>
	    		<td width="400">
	    			<h3>モンスター一覧</h3>
	    		</td>    	    		
	    		<td>
	  				<table>
	    				<tr>
	    					<th>メニュー</th>
	    					<th>初期化</th>
	    				</tr>
	    				<tr>
    						<td height="45" width="120" align="center" >
    							<a href="{% url 'cms:main_pic' %}" class="btn btn-default btn-sm"><h5>メイン画面</h5></a>
    						</td>
    						<td>
    							<a class="btn btn-default btn-sm" id="deleteB"><h5>図鑑初期化</h5></a>
    						</td>
    					</tr>
    				</table>
    			</td>
    		</tr>
    	</table>
	</div>
    
    <h4>前{{sum}}種類</h4>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>画像</th>
          <th>アイテム名</th>
          <th>コメント</th>
          <th>回数</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td><img src="{{ MEDIA_URL }}/images/{{item.pic_name}}" width="80" height="80"/></td>
          <td>{{ item.name }}</td>
          <td>{{ item.comment }}</td>
          <td>{{ item.drop_num }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <div id="dialog" title="図鑑内容の初期化">
		<p>図鑑を初期化しますか？</p>
		<!--ここがないとcsrfができない-->
		{% csrf_token %}
    </div>
{% endblock content %}